@charset "utf-8";

.inner {
    max-width: 1440px;
    margin: 0 auto;
}

/* min-width:1024px; max-width:1440px */
.clom2 {
    width: calc((100% - 50px)/2);
}

#wrap {
    width: 100%;
    position: relative;
}

#top {
    width: 100%;
    height: 215px;
    position: absolute;
    top: 0;
    z-index: 999999;
}

.top1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4)
}

.top1_left img {
    width: 40px;
    padding-top: 40px;
}

.top1_left img:first-child {
    padding-left: 40px;
}

.top_logo {
    padding-top: 30px;
}

.top1_right img {
    width: 40px;
    padding-top: 40px;
}

.top1_right img:last-child {
    padding-right: 40px;
}

#nav3 {
    position: relative;
}

#nav3 .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}

#nav3 .depth1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    width: calc(100% - 380px);
}

#nav3 .depth1 > li {
    width:calc(100% / 8);
}

#nav3 .depth1 > li > a {
    display: block;
    background-color: transparent;
    padding: 10px 0;
    font-size: 1rem;
    line-height: 1rem;
    color: #FFF;
    font-weight: 300;
    padding:38px 0;
    width:100%;
}

#nav3 .depth2 {
    position: absolute;
    width: 100%;
    top: 88px;
    left: 0;
    /* border-bottom: 1px solid #ccc; */
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: none;
}

#nav3 .depth2 .c1 {
    width: 14.7%;
    text-align: left;
    padding: 30px 40px;
}

#nav3 .depth2 .c1 .d1 {
    font-size: 2rem;
}
#nav3 .depth2 .c1 .d2 {
    padding-top: 10px;
    color:#333;
}

#nav3 .depth2 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 64%;
}

#nav3 .depth2 ul li {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ccc;
    padding: 30px 50px
}

#nav3 .depth2 ul li a {
    padding-bottom: 20px;
}

#nav3 .depth2 .c2 {
    width: 17%;
}

#nav3 .depth2 .c2 img {
    width: 100%;
}



#nav3 .depth1>li:hover .depth2 {
    display: flex;
    height:390%;
    border-bottom:1px solid #ccc;
}

.search {
    width: 330px;
    padding-top: 30px;
}

#search {
    border-radius: 20px;
    border: none;
    background-image: url(../image/Artboard\ 7@2x.png);
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: 95% 0;
    height: 30px;
}

/*-----------------------------slide-----------------------*/
.center {
    background-image: url(../image/m_back\(pc\).jpg);
    background-repeat: no-repeat;
    background-size: 105%;
    padding-top: 220px;
}

.center .slick-slide img {
    /*transform: scale(0.9);*/
    width: 90%;
    display: block;
    margin: auto;
    transform: translate(0, 5%)
}

.center .slick-slide.slick-current img {
    /*transform: scale(1)*/
    width: 100%;
    transform: translate(0, 0)
}

.center .slick-prev {
    background-image: url(../image/Vector.png);
    border: none;
    color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    left: 190px;
}

.center .slick-next {
    background-image: url(../image/Vector2.png);
    border: none;
    color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    right: 180px;
}

.center .slick-arrow {
    position: absolute;
    top: 55%;
    transform: translate(0, 55%);
    z-index: 999;
    width: 30px;
    height: 55px;
}

.center .slick-dots button {
    display: none;
}

/*-----------------------------#sec1-----------------------*/
#sec1 {
    margin-bottom: 120px;
}

#sec1 h2 {
    text-align: center;
    padding-top: 120px;
    font-weight: 400;
    font-size: 32px;
}

#sec1 p {
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}

#sec1 .sec1_box ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 45px;
}

#sec1 .sec1_box ul li {
    border: 1px solid #555;
    padding: 10px 60px 10px 60px;
    border-radius: 30px;
    margin: 15px 30px 15px 30px;
}

/*-----------------------------#sec2-----------------------*/
#sec2 .sec2_back {
    background-image: url(../image/best\(pc\).jpg);
}

#sec2 .sec2_back {
    width: 100%;
}

#sec2 h2 {
    text-align: center;
    padding: 120px 0 60px 0;
    font-weight: 400;
    font-size: 32px;
}

#sec2 .sec2_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

#sec2 .sec2_box .box1 {
    width: 100%;
    height: 140px;
    background-color: #333;
}

#sec2 .sec2_box .box_text {
    color: #fff;
    font-weight: 100;
    text-align: center;
    padding-top: 20px;
}

#sec2 .sec2_bt {
    padding-left: 46%;
    padding-top: 60px;
    padding-bottom: 80px;
}

#sec2 .bt {
    text-align: center;
    padding-top: 8px;
    border: 1px solid #333;
    width: 15%;
    height: 32px;
    left: 100px;
    color: #333;
}

/*-----------------------------#sec3-----------------------*/
#sec3 .inner {
    position: relative;
}

#sec3 h2 {
    text-align: center;
    padding: 120px 0 60px 0;
    font-weight: 400;
    font-size: 32px;
}

#sec3 .sec3_img1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sec3 .sec3_img1>div {
    width: calc((100% - 50px)/2);
    /* padding-bottom: 50px; */
    position: relative;
}

#sec3 .sec3_img1>div:nth-child(2n) {
    transform: translate(0, 100px);
}

#sec3 .sec3_img1 a {
    display: block;
}

#sec3 .sec3_img1 .A1 {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 90px;
}

#sec3 .sec3_img1 .A1 p {
    padding-top: 20px;
    text-align: center;
    color: #fff;
    font-weight: 100;
}

#sec3 .sec3_more {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-160px, 50px);
    background: url(../image/More.png) no-repeat left bottom;
    width: 180px;
    height: 30px;
}

#sec3 .sec3_more a {
    display: block;
    font-size: 20px;
}

#sec3 .sec3_more p {
    padding-top: 10px;
}

#sec3 .sec3_img1 > div {width:48.3%; 
    box-sizing:border-box;
    border:1px solid #fff;
    overflow:hidden
    } 
#sec3 .sec3_img1 a {
    overflow: hidden;
} 
#sec3 .sec3_img1 img {
    width:100%; transition:0.5s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}
#sec3 .sec3_img1 a:hover img {
    transform:scale(1.2);
}
#sec3 .sec3_img1 > div {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
}

/*-----------------------------#sec4-----------------------*/
#sec4>div {
    width: 100%;
    padding: 210px 0 120px 0;
}

#sec4 img {
    width: 100%;
}

/*-----------------------------#sec5-----------------------*/
#sec5 {
    padding-bottom: 200px;
}

#sec5 .inner {
    position: relative;
}

#sec5 h2 {
    text-align: center;
    padding: 0 0 60px 0;
    font-weight: 400;
    font-size: 32px;
}

#sec5 ul {
    display: flex;
}

#sec5 li .box1 img {
    width: 92%;
}

#sec5 .sec5_more {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-60px, 110px);
    background: url(../image/More.png) no-repeat left bottom;
    width: 180px;
    height: 30px;
}

#sec5 .sec5_more a {
    display: block;
    font-size: 20px;
    padding-bottom: 120px;
}

#sec5 .sec5_more p {
    padding-top: 10px;
}

/*-----------------------------#sec6-----------------------*/
#sec6 {
    background-color: #DAD5BB;
    width: 100%;
    height: 580px;
    padding-top: 100px;
}

#sec6 .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sec6 .B0 {
    position: relative;
}

#sec6 .B1 {
    font-size: 40px;
    padding-top: 50px;
}

#sec6 .B2 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 30px;
}

#sec6 .B4 {
    border: 1px solid #333;
    width: 25%;
    height: 35px;
    position: absolute;
    bottom: 30px;
    left: 74%;
}

#sec6 .B4 p {
    text-align: center;
    padding-top: 5px;
}

/*-----------------------------#sec7-----------------------*/
#sec7 img {
    padding: 120px 0 120px 0;
    width: 70%;
    transform: translate(25%, 0);
}

/*-----------------------------#footer-----------------------*/
#footer {
    background-color: #000;
    width: 100%;
    height: 280px;
    padding-top: 70px;
}

#footer .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer .ft_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

#footer .ft_1 a {
    padding-top: 15px;
    font-weight: 100;
}

#footer .ft_icon img {
    width: 35px;
    padding-left: 5px;
}

#footer .ft_icon img:nth-child(3) {
    width: 40px;
}

#footer .ft_2 {
    color: #fff;
    font-weight: 100;
    padding-top: 30px;
}

#footer .ft_left {
    width: calc(100% - 230px)
}

#footer .ft_right img {
    width: 200px;
    display: block;
}

#footer .ft_right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}